<%= form_for(@book) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_field :title, placeholder: "Book Title" %>
    <%= f.text_field :author, placeholder: "Author" %>
    <%= f.text_field :publisher, placeholder: "Publisher" %>
    <%= f.text_field :isbn, placeholder: "ISBN" %>
    <%= f.select :format, Book::FORMAT_TYPES, prompt: "Format" %>
    <%= f.text_field :location, placeholder: "Location" %>

    <%= f.fields_for :catalogs do |ff| %>
      <%= ff.hidden_field :library_id %>
    <% end %>

    <%= f.collection_select :shelf_ids, current_user.library.shelves.all, :id, :name, {:selected => @book.shelf_ids, prompt: "----Add to a Shelf (select all that apply)----"}, {:multiple => true} %>
  </div>
  <%= f.submit "Add Book to Library", class: "btn btn-primary" %>
<% end %>