<li id="book-<%= book.id %>">
  <span class="title"><%= link_to book.title, book %></span>
  <span class="author"><%= book.author %></span>
  <span class="shelves">Shelves: <%= book.shelves.count %></span>
  <span class="timestamp">
    Added <%= time_ago_in_words(book.created_at) %> ago.
    <% if current_user.library.books?(book) %>
      <%= link_to "delete", book, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
  </span>
</li>