<li id="book-<%= book.id %>">
  <span class="title"><%= link_to book.title, book %></span>
  <span class="author"><%= book.author %></span>
  <span class="publisher"><%= book.publisher %></span>
  <span class="isbn"><%= book.isbn %></span>
</li>