<% provide(:title, @book.title) %>
<h1><%= @book.title %></h1>
<h2><strong>Author:</strong> <%= @book.author %></h2>
<h2><strong>Publisher:</strong> <%= @book.publisher %></h2>
<h2><strong>ISBN:</strong> <%= @book.isbn %></h2>

<% if @book.shelves.present? %>
  <ul class="shelves">
    <%= render @book.shelves %>
  </ul>
<% end %>